<div class="fixed">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
      <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        {% for page in site.pages %}
          {% if page.title %}
          <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </section>
  </nav>
</div>

{% if page.billboard %}
  <div class="billboard">
    {% if page.billboard.srcset %}
    <picture>
      {% if page.billboard.srcset.portrait %}
        <source srcset="{% for source in page.billboard.srcset.portrait %}{{ source.src }} {{ source.size }}{% if forloop.last == false %}, {% endif %}{% endfor %}" sizes="100vw" media="(max-aspect-ratio: 1/1)">
      {% endif %}

      {% if page.billboard.srcset.landscape %}
        <source srcset="{% for source in page.billboard.srcset.landscape %}{{ source.src }} {{ source.size }}{% if forloop.last == false %}, {% endif %}{% endfor %}" sizes="100vw" media="(min-aspect-ratio: 1/1)">
      {% endif %}

      <img src="{{ page.billboard.srcset.fallback }}" alt="{{ page.billboard.alt }}">
    </picture>
    {% else %}
      <img src="{{ page.billboard.src }}" alt="{{ page.billboard.alt }}">
    {% endif %}
  </div>
{% endif %}
