iframe {
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

.billboard {
  picture {
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  img {
    max-width: none;
    min-width: 100vw;
    min-height: 100vh;
    position: relative;
    top: 50%; // 0 to top align
    left: 50%;
    transform: translate(-50%, -50%); // -50%, 0 to top align
  }
}

.home {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: hsla(0, 0%, 100%, .5);

  p {
    transition: font-size .2s;
    max-width: 90%;
  }

  @media #{$small-up} {
    p {
      font-size: $h4-font-size;
    }
  }

  @media #{$medium-up} {
    p {
      font-size: $h2-font-size;
    }
  }
}
